<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!-- <div class="login-card">
        <h2>Login</h2>
        <a class="ui button" href="/login/customer">As Customer</a>
        <a class="ui button yellow" href="/login/admin">As Admin</a>
        <a class="ui button green" href="/login/employee">As Employee</a>
        <hr>
        <h5>Not one of these?</h5>
        <a class="ui primary button" href="/signup">Signup</a>
    </div> -->
<div class="login-card">
    <div class="ui center aligned basic segment">
        <h2>Login</h2>
        <div class="ui left icon action input">
            <a class="ui button" href="/login/customer">As Customer</a>
            <a class="ui button yellow" href="/login/admin">As Admin</a>
            <a class="ui button green" href="/login/employee">As Employee</a>
        </div>
        <div class="ui horizontal divider">
          Or
        </div>
        <a href="/signup" class="ui teal button">Signup</a>
        </div>
      </div>
    </div>
</body>