<head>
    <meta charset="utf-8">
    <title>New Blog</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="header item">
            Blog API
        </div>
        <a class="item" href="/customer">Home</a>
        <a class="active item">New Blog</a>
        <div class="right menu">
            <a class="item">Logout</a>
        </div>
    </div>
    <div class="login-card">
        <div class="ui raised very padded text container segment">
            <div style="text-align:center" class="ui huge header">New Blog</div>
            <form class="ui form" action="/customer/new" method="post">
                <div class="field">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Title">
                </div>
                <div class="field">
                    <label>Blog Content</label>
                    <textarea name="body" placeholder="Your Blog"></textarea>
                </div>
                <button id="submit-btn" class="ui primary basic button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>