<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blogs</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    
    <div class="login-card">
        <div class="ui raised very padded text container segment">
            <div style="text-align:center" class="ui huge header"><%=blog.title%></div>
            <%= blog.created.toDateString() %>
            <div class="ui top attached segment">
                <div class="item">
                    <%= blog.body %>
                    
                </div>
            </div>
        </div>
</body>