<head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div style="margin-top: 1.0em;">
        <div class="ui container">
            <% if(error && error.length> 0) {%>
                <div class="ui visible message red" role="alert">
                    <%= error %>
                </div>
                <% } %>
                    <% if(success && success.length> 0){ %>
                        <div class="ui visible message green" role="alert">
                            <%= success %>
                        </div>
                        <% } %>
        </div>
    </div>


    <div class="login-card">
        <div class="ui raised very padded text container segment">
            <p style="text-align: center" class="ui huge header">Signup</p>
            <form class="ui form" method="POST">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" placeholder="Password" name="password1" minlength="6" required>
                </div>
                <div class="field">
                    <label>Confirm Password</label>
                    <input type="password" name="password" placeholder="Confirm Password" minlength="6" required>
                </div>
                <div class="field">
                    <label>Select Designation</label>
                    <select name="type" required>
                        <option>Customer</option>
                        <option>Employee</option>
                        <option>Admin</option>
                    </select>
                </div>
                <button id="submit-btn" name="submit" class="ui primary button"
                    type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>